body {
	background-color: #f0eee9;
	font-family: "Inter", sans-serif;
	text-align: center;
	margin-top:13vh;
	font-size:calc(10px + 1.3vw);
}

#sourcing {
	display: inline-flex;
}

.imported-data {
	margin: 0px 10px;
	opacity: 0.6;
	cursor: pointer;
}

#answer {
	font-size: 4em;
}

hr {
	width:50vw;
	margin: 8vh 25vw;
}

#footer {
	/*position: absolute;*/
	bottom: 10px;
	font-size: 0.6em;
	text-align: center;
}